<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>

<p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
<ion-content padding>
  <form [formGroup]="signupForm">

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input formControlName="firstName" type="text"
        [class.invalid]="!signupForm.controls.firstName.valid && (signupForm.controls.firstName.dirty || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!signupForm.controls.firstName.valid  && (signupForm.controls.firstName.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text"
        [class.invalid]="!signupForm.controls.lastName.valid && (signupForm.controls.lastName.dirty || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!signupForm.controls.lastName.valid  && (signupForm.controls.lastName.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email"
        [class.invalid]="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Phone Number</ion-label>
      <ion-input formControlName="phoneNumber" type="number"
        [class.invalid]="!signupForm.controls.phoneNumber.valid && (signupForm.controls.phoneNumber.dirty || submitAttempt)"
        placeholder="e.g. 5417543010">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!signupForm.controls.phoneNumber.valid  && (signupForm.controls.phoneNumber.dirty || submitAttempt)">
      <p>Please enter a valid phone number.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Is this Phone Number</ion-label>
      <ion-select formControlName="isThisPhoneNumber"
        [class.invalid]="!signupForm.controls.isThisPhoneNumber.valid && (signupForm.controls.isThisPhoneNumber.dirty || submitAttempt)">
        <ion-option value="mobile" selected>Mobile</ion-option>
        <ion-option value="work" >Work Phone</ion-option>
        <ion-option value="home" >Home Landline</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>CDL#</ion-label>
      <ion-input formControlName="CDL" type="number"
        [class.invalid]="!signupForm.controls.CDL.valid && (signupForm.controls.CDL.dirty || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!signupForm.controls.CDL.valid  && (signupForm.controls.CDL.dirty || submitAttempt)">
      <p>Please enter a valid CDL.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Issuing State</ion-label>
      <ion-select formControlName="issuingState"
        [class.invalid]="!signupForm.controls.issuingState.valid && (signupForm.controls.issuingState.dirty || submitAttempt)">
        <ion-option value="AL" selected>Alabama</ion-option>
        <ion-option value="AK" >Alaska</ion-option>
        <ion-option value="AZ" >Arizona</ion-option>
        <ion-option value="AR" >Arkansas</ion-option>
        <ion-option value="CA" >California</ion-option>
        <ion-option value="CO" >Colorado</ion-option>
        <ion-option value="CT" >Connecticut</ion-option>
        <ion-option value="DE" >Delaware</ion-option>
        <ion-option value="FL" >Florida</ion-option>
        <ion-option value="GA" >Georgia</ion-option>
        <ion-option value="HI" >Hawaii</ion-option>
        <ion-option value="ID" >Idaho</ion-option>
        <ion-option value="IL" >Illinois</ion-option>
        <ion-option value="IN" >Indiana</ion-option>
        <ion-option value="IA" >Iowa</ion-option>
        <ion-option value="KS" >Kansas</ion-option>
        <ion-option value="KY" >Kentucky</ion-option>
        <ion-option value="LA" >Louisiana</ion-option>
        <ion-option value="ME" >Maine</ion-option>
        <ion-option value="MD" >Maryland</ion-option>
        <ion-option value="MA" >Massachusetts</ion-option>
        <ion-option value="MI" >Michigan</ion-option>
        <ion-option value="MN" >Minnesota</ion-option>
        <ion-option value="MS" >Mississippi</ion-option>
        <ion-option value="MO" >Missouri</ion-option>
        <ion-option value="MT" >Montana</ion-option>
        <ion-option value="NE" >Nebraska</ion-option>
        <ion-option value="NV" >Neveda</ion-option>
        <ion-option value="NH" >New Hampshire</ion-option>
        <ion-option value="NJ" >New Jersey</ion-option>
        <ion-option value="NM" >New Mexico</ion-option>
        <ion-option value="NY" >New York</ion-option>
        <ion-option value="NC" >North Carolina</ion-option>
        <ion-option value="ND" >North Dakota</ion-option>
        <ion-option value="OH" >Ohio</ion-option>
        <ion-option value="OK" >Oklahoma</ion-option>
        <ion-option value="OR" >Oregon</ion-option>
        <ion-option value="PA" >Pennsylvania</ion-option>
        <ion-option value="RI" >Rhode Island</ion-option>
        <ion-option value="SC" >South Carolina</ion-option>
        <ion-option value="SD" >South Dakota</ion-option>
        <ion-option value="TN" >Tennessee</ion-option>
        <ion-option value="TX" >Texas</ion-option>
        <ion-option value="UT" >Utah</ion-option>
        <ion-option value="VT" >Vermont</ion-option>
        <ion-option value="VA" >Virginia</ion-option>
        <ion-option value="WA" >Washington</ion-option>
        <ion-option value="WV" >West Virginia</ion-option>
        <ion-option value="WI" >Wisconsin</ion-option>
        <ion-option value="WY" >Wyoming</ion-option>
        <ion-option value="GU" >Guam</ion-option>
        <ion-option value="PR" >Puerto Rico</ion-option>
        <ion-option value="VI" >Virgin Islands</ion-option>
        
      </ion-select>

    </ion-item>
    <ion-item *ngIf="!signupForm.controls.issuingState.valid  && (signupForm.controls.issuingState.dirty || submitAttempt)">
      <p>Please provide issuing state.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Origin Country</ion-label>

      <ion-select formControlName="originCountry"
        [class.invalid]="!signupForm.controls.originCountry.valid && (signupForm.controls.originCountry.dirty || submitAttempt)">
        <ion-option value="usa" selected>USA</ion-option>
        <ion-option value="canada" >Canada</ion-option>
        <ion-option value="mexico" >Mexico</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Best Contact</ion-label>
      <ion-select formControlName="bestContact"
        [class.invalid]="!signupForm.controls.bestContact.valid && (signupForm.controls.bestContact.dirty || submitAttempt)">
        <ion-option value="email" selected>Email</ion-option>
        <ion-option value="mobile" >Call Mobile Phone</ion-option>
        <ion-option value="sms" >SMS text</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating >Password</ion-label>
      <ion-input formControlName="password" type="password"

      [class.invalid]="!signupForm.controls.password.valid &&
      (signupForm.controls.password.dirty || submitAttempt)"></ion-input>
    </ion-item>

  </form>
  <ion-row style="margin-top: 10px;">
    <ion-col text-center>
      <button ion-button block color="light" (click)="submit()">Sign Up</button>
    </ion-col>
  </ion-row>
</ion-content>
